body {
  font-family: "LINE Seed Sans", Sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

.top-header {
  padding: 5px 5px;
}

.top-header .lang {
  background: transparent;
  border: none;
}

.header-container {
  position: absolute;
  background: white;
  width: 100%;
  z-index: 100;

}


.top-header a {
  color: #000;
  font-family: Inter;
  font-size: 15px !important;
  font-style: normal;
  /* font-weight: 600; */
  line-height: 100%;
  /* 16px */
}

.header-logo {
  width: 75%;
}

.main-header {
  /*background-color: #221A42;
padding: 15px 0;*/
}

/*
.navbar {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.18);
}

.navbar .navbar-brand img {
    max-width: 100px;
}

.navbar-toggler {
    background-color: #fff;
}
*/

.navbar-toggler:focus {
  box-shadow: none
}

@media screen and (min-width: 1200px) {
  .navbar {
    letter-spacing: 0.05em;
  }

  .navbar-collapse .navbar-nav .nav-link {
    padding: 0.2em 1em;
  }

  .navbar .navbar-brand img {
    max-width: 7em;
  }

  .navbar form input[type="search"] {
    height: 2em;
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='grey' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 95%;
  }

  .navbar form input[type="search"]:focus {
    background: #fff;
    box-shadow: none;
  }
}

@media screen and (min-width: 768px) {
  .navbar .navbar-brand img {
    max-width: 6em;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar .navbar-nav {
    flex-direction: row;
  }

  .navbar .navbar-nav .nav-item {
    margin-right: 15px;
  }

  .search-and-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .search-and-icons form {
    margin-right: 15px;
  }

  .navbar form input[type="search"] {
    height: 2em;
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='grey' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 95%;
  }

  .navbar form input[type="search"]:focus {
    background: #fff;
    box-shadow: none;
  }
}



.navbar .navbar-nav .nav-link {
  color: #fff;
}

.user-icons div {
  padding-right: 1em;
  font-size: 1.2em;
  color: #000;
}

.bg-theme {
  background-color: #221A42;
}

.bg-theme-dis {
  background-color: red;
}

.theme-bg-text {
  position: relative;
  /* font-family: 'Satisfy', cursive; */
  color: #221A42 !important;
  text-align: center;
  font-size: 35px !important;
  font-weight: 400;
  text-transform: uppercase;
  line-height: normal;
  margin-bottom: 20px;
}

input {
  background-color: #FFE5E5 !important;
}

.text-with-line {
  position: relative;
  display: inline-block;
}

.text-with-line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  /* Adjust the distance of the line from the text */
  width: 100%;
  height: 2px;
  /* Adjust the thickness of the line */
  background-color: #000;
  /* Adjust the color of the line */
}

.carousel-content {
  position: absolute;
  left: 50%;
  top: 70%;
  text-align: center;
  background: #221A42DE;
  border-radius: 20px;
  padding: 40px;
  transform: translateX(-50%);
  z-index: 9;
}

.carousel-content h3 {
  color: #FFF;
  text-align: center;
  /* font-family: 'Satisfy', cursive; */
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.08px;
}

.carousel-content h5 {
  color: #FFF;
  /* font-family: 'Satisfy', cursive; */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.4px;
}


.button {
  font-family: 'Poppins', sans-serif;
  background-color: #221A42;
  color: #FFE5E5;
  padding: 10px 32px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  box-shadow: none;
  border: none;
}

.section {
  position: relative;
}

.heading {
  position: relative;
  font-family: "LINE Seed Sans", Sans-serif;
  color: #221A42;
  text-align: center;
  font-size: 31px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* .heading::after {
  content: '';
  background-image: url('../images/Winterbear-Purple-Logo.png');
  background-size: contain;
  position: absolute;
  top: -33%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 136px;
  display: block;
  background-repeat: no-repeat;
  border-bottom: 5px solid #221A42;
} */

.collection-box {
  background: #FCFCFC;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #221A42;
  text-align: center;
  transition: background 0.3s ease, border-radius 0.3s ease, color 0.3s ease;
  /* height: 300px; */
  /* Add transition for a smooth effect */
}

.collection-box h4 {
  color: #221A42;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 24px */
  transition: color 0.3s ease, transform 0.3s ease;

  /* Add transition for a smooth effect */
}

.collection-box img {
  transition: filter 0.3s ease, transform 0.3s ease;
  margin-bottom: 20px;
  transform: scale(1.2);


  /* Add transition for a smooth effect */
}

.collection-box:hover {
  /* background: #221A42; */
  /* border-radius: 20px; */
  color: #fff;
}

.collection-box:hover h4 {
  color: #fff;
  /* transform: scale(1.2); */
}

.collection-box:hover img {
  /* filter: brightness(0) invert(1); */
  transform: scale(1.4);
}

.item img {
  cursor: pointer;
}

.collection-box-1:hover {
  /* background: #221A42; */
  /* border-radius: 20px; */
  color: #fff;
  cursor: pointer;
}

.collection-box-1:hover h4 {
  color: #fff;
  /* transform: scale(1.2); */
}

.collection-box-1:hover img {
  /* filter: brightness(0) invert(1); */
  transform: scale(1.4);
}

.collection-box-1 img {
  transition: filter 0.3s ease, transform 0.3s ease;
  margin-bottom: 20px;
  transform: scale(1.2);


  /* Add transition for a smooth effect */
}


.collection-box-1 h4 {
  color: #221A42;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;

  transition: color 0.3s ease, transform 0.3s ease;

  /* Add transition for a smooth effect */
}

.news-latter-bg {
  /* background-image: url('../images/news-latter-bg.png');
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: #221A42;
  height: 100%;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .news-latter-bg {
    background-color: #33295d;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}


.heart-btn {
  border: none;
  background-color: transparent;
  padding-right: 6%;
}

.heart-btn i {
  background-color: white;
  padding: 25%;
  font-size: 20px;
  border-radius: 50%;
}

.section-heading h3 {
  color: #FFF;
  text-align: center;
  font-family: "LINE Seed Sans", Sans-serif;
  font-size: 31px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 60px */
  text-transform: uppercase;
}

.shop-by {
  /* border: 2px solid #221A42; */
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.1);
  /* background: rgb(239,230,255); */
  /* background: linear-gradient(90deg, rgba(239, 230, 255, 1) 15%, rgba(217, 196, 255, 1) 85%, rgba(239, 230, 255, 1)100%); */
  margin-bottom: 20px;
}

.shop-by-tab {
  display: flex;
  justify-content: center;
  /* flex-wrap: nowrap; */
}

.nav-fill .nav-item,
.nav-fill>.nav-link {
  flex: none !important;
  cursor: pointer;
}


.btn-subscribe {
  position: relative;
  border-radius: 40px;
  background: #221A42;
  color: #FFE5E5;
  border: 1.5px solid white !important;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 120px;
  height: 45px;
  right: 25px;
}

.social i {
  font-size: 20px;
  margin-right: 10px;
}

footer {

  padding: 60px 0 150px 0;

}

.p-text:hover {
  font-weight: 300 !important;
}

.footer-heading h4 {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
  padding-left: 15%;
  letter-spacing: 0.56px;
  text-transform: uppercase;
}

.brand-namee {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}


footer ul {
  list-style: none;
  padding-left: 0;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

footer ul li {
  text-align: left;
  padding-left: 15%;
}

footer ul a {
  text-decoration: none;
  color: #FFF;
}

.copy-rights-img {
  height: 18vh;
  position: relative;
}

.copy-rights-img img {
  position: absolute;
  left: 50% !important;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
}

.copy-right {
  padding: 90px 0 0 0;
  position: relative;
}

@media only screen and (max-width: 767px) {

  footer {
    background: #221A42;
    padding: 60px 0 40px 0;
  }

  .copy-rights-img {
    height: 5vh;
    position: relative;
  }

  .copy-rights-img img {
    position: absolute;
    left: 0;
    bottom: 60%;
    width: 100%;
  }
}

.filter-buttons {
  text-align: center;
  margin: 20px 0;
}

.filter-buttons button {
  padding: 7px 25px;
  margin: 0 5px;
  cursor: pointer;
  color: #FFE5E5;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  background: transparent !important;
  border: none !important;
}


.filter-buttons button.active {
  padding: 7px 25px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 33px;
  background: #F2E9D4 !important;
  color: #221A42;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 16px */
  text-transform: uppercase;
}


.filter-buttons1 {
  text-align: center;
  margin: 20px 0;
}

.filter-buttons1 button {
  padding: 7px 25px;
  margin: 0 5px;
  cursor: pointer;
  color: #FFE5E5;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  background: transparent !important;
  border: none !important;
}


.filter-buttons1 button.active {
  padding: 7px 25px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 33px;
  background: #F2E9D4 !important;
  color: #221A42;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 16px */
  text-transform: uppercase;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tile-1 {
  /*height: 80vh;*/
  height: auto;
  padding-top: 20px;
  border-radius: 20px;
  border-bottom: 1px solid #888;
  padding-bottom: 50px;
}

@media only screen and(min-width:760px) {
  .tile-1 .item {
    width: 246px;
    background-color: white;
    /* margin: 5px; */
    position: relative;
    overflow: hidden;
  }
}


.tile-1 .item img {
  width: 100%;
  /* height: auto !important; */
  transition: transform 0.3s;
}

.price-prodname {
  min-height: 20px;

}

.product-shopby {
  height: 150px !important;
  object-fit: cover !important;
  transition: transform 0.7s ease;
}

/*.tile-1 .item:hover img {
transform: scale(1.1);
}*/

/*.add-to-cart {
position: absolute;
bottom: -68px;
left: 50%;
transform: translateX(-50%);
background-color: #D9D9D9;
color: #221A42;
padding: 10px;
border-radius: 5px;
cursor: pointer;
width: 77%;
}*/


.shopby-top-icoimg {
  width: 35px;
  height: 35px;
}

.add-to-cart {
  position: absolute;
  bottom: -68px;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #D9D9D9;
  color: #221A42;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 58%;
  text-align: center;
  /* Align text to the center */
  transition: bottom 0.9s ease;
  /* Add smooth transition */
}

.add-to-cart i {
  margin-right: 5px;
}

.tile-1 .item:hover .add-to-cart {
  bottom: 100px;
}

.sticky-logo-text {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
}

.shop {
  position: relative;
}

.sticky-logo-1 {
  display: block;
  max-width: 180px !important;
  padding: 0 1rem;
  position: sticky;
  top: 15%;
  transition: transform 0.3s ease-in-out;
  margin: 0 auto;
}

.sticky-logo-1 img {
  width: 100%;
}

.sticky-logo-flex-1 {
  max-height: 0%;
  background-color: "transparent" !important;
  margin-top: 1%;
}

.sticky-logo-flex-2 {
  max-height: 9%;
  background-color: "transparent" !important;
  margin-top: 7%;
}

.sticky-logo-flex-3 {
  max-height: 9%;
  background-color: "transparent" !important;
  margin-top: 12%;
}

.sticky-logo-flex-4 {
  max-height: 9%;
  background-color: "transparent" !important;
  margin-top: 18%;
}

.sticky-logo-flex-5 {
  max-height: 9%;
  background-color: "transparent" !important;
  margin-top: 26%;
}

.sticky-logo-flex-6 {
  max-height: 9%;
  background-color: "transparent" !important;
  margin-top: 37%;
}

.sticky-logo-flex-7 {
  max-height: 9%;
  background-color: "transparent" !important;
  margin-top: 42%;
}

.pos-rel {
  position: relative;
}

.pos-abss {
  position: absolute;
  top: 0%;
  right: 40%;
  background-color: #4e3c98;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  /* transform: translate(-50%,0%); */
}

.sticky-logo-flex-8 {
  max-height: 9%;
  background-color: "transparent" !important;
  margin-top: 52%;
}

.sticky-logo-flex-9 {
  max-height: 9%;
  background-color: "transparent" !important;
  margin-top: 72%;
}

.footercard {
  background-image: url('../images/Footer.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -40px !important;
}




.sticky.stick {
  transform: translateY(-75px);
}

.sticky-body {
  position: sticky;
  top: 0px;
}

/************************* About Page *************************/

.breadcum {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

.about-breadcum-content {
  position: absolute;
  left: 50%;
  top: 55%;
  text-align: center;
  /* background: #221A42DE; */
  border-radius: 20px;
  padding: 40px;
  z-index: 9999;
  transform: translateX(-50%);
}

.about-breadcum-content h3 {
  color: #FFF;
  text-align: center;
  /* font-family: 'Satisfy', cursive; */
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.08px;
}

.about-breadcum-content h5 {
  color: #FFF;
  /* font-family: 'Satisfy', cursive; */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.4px;
}


.button {
  font-family: 'Poppins', sans-serif;
  background-color: #221A42;
  color: #FFE5E5;
  padding: 10px 32px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  box-shadow: none;
  border: none;
}

.sub-heading {
  color: #3C465F;
  text-align: justify;
  text-align-last: center;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.jus-cent-cont {
  text-align: justify;
  /* text-align-last: center; */
}


.about1 img {
  width: 250px;
}

.about2 img {
  width: 225px;
}

.about1 {
  z-index: 9;
  top: 23%;
}

.about2 {
  left: 30%;
}

.pri-text {
  color: #FFF;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 8;
}

/************************ Event Page **************************/

.content {
  margin-top: 50px;
}

.event {
  border-radius: 10px;
}

.event button {
  border-radius: 22px;
  border: 1px solid #F2E9D4;
  color: #F2E9D4;
  background: transparent;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 16px */
  text-transform: uppercase;
  padding: 12px;
  width: 190px;
  margin-right: 30px;
}

.event button.active {
  background: #F2E9D4;
  color: #221A42;
}

/********************* Our Stores Page ****************************/

.store-bg-right {
  background: #F2E9D4;
  position: absolute;
}

.store-sub-heading {
  color: #000;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 40px;
}

.store-box img {
  width: 175px;
}

.text-decoration-underline {
  text-decoration: underline solid black 2px;
  ;
  text-underline-position: auto;
  border-bottom: 1px solid red
}

.text-primary {
  color: #221A42 !important
}

#pills-tab .nav-link {
  color: #4e3c98 !important
}

.product-name {
  text-align-last: center;
}

#pills-tab .nav-link.active {
  background: #FFF3CD !important;
  color: #221A42 !important
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  width: 200px;
  height: 200px;
}

.shop-container {
  position: relative;
  overflow: hidden;
}

.addtocart-btn {

  background-color: rgba(34, 26, 66, 0.7) !important;
  color: white !important;

}

.shop-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(229, 229, 230, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  align-items: end;
  justify-content: center;
  text-align: center;
  border-radius: 10%;
  transition: bottom 0.5s ease;
}

.shop-overlay:hover .add-to-cart-btn {
  position: absolute;
  bottom: 10%;
  ;
  transform: translate(-50%, 50%);
  left: 50%;
  transition: bottom 1.5s ease;
  border-radius: 5px;
  transition-timing-function: ease;
}

.shop-container:hover .shop-overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-container:hover .overlay {
  opacity: 1;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-8 {
  margin-top: 120px !important;
}



.mt-120 {
  margin-top: 120px !important;
}

.form {

  position: relative;
}

.form .fa-search {

  position: absolute;
  top: 10px;
  left: 20px;
  color: #9ca3af;

}

.form span {

  position: absolute;
  right: 17px;
  top: 5px;

  border-left: 1px solid #d1d5db;

}

.left-pan {
  padding-left: 7px;
}

.left-pan i {

  padding-left: 10px;
}

.form-input {
  height: 32px;
  width: 237px;
  text-indent: 20px;
  border-radius: 10px;
  margin: 10px 0px 0px 10px;
  background-color: #FFE5E5 !important;

}

.form-input:focus {

  box-shadow: none;
  border: none;
}

.text-main {
  color: #221A42 !important;
}

.half-width-bg-left {
  background:
    linear-gradient(90deg, rgb(256, 256, 256) 0%, rgb(256, 256, 256) 49.99%, rgb(242, 233, 212) 50%, rgb(242, 233, 212) 100%);
  padding: 30px 0;

}

.half-width-bg-right {
  background:
    linear-gradient(90deg, rgb(242, 233, 212) 0%, rgb(242, 233, 212) 49.99%, rgb(256, 256, 256) 50%, rgb(256, 256, 256) 100%);
  padding: 30px 0;

}

.light-yeloo {
  background: rgb(242, 233, 212);
}

.left-20 {
  position: absolute;
  left: 20%;
  z-index: 2
}

.left--20 {
  position: absolute;
  left: 48%;
  z-index: 2
}

.margin-height {
  margin-top: 10%;
}

.width-dynimc {
  width: 60% !important;
}

.text-decoration-none {
  margin: 10px 10px 10px 10px;
}

/* Add these styles to your existing CSS file or create a new one */

/* Checkout Section */
.section-heading {
  text-align: center;
  margin-bottom: 30px;
}

/* Cart List */
.cart-list {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
}

.cart-list h3 {
  margin-bottom: 15px;
  font-size: 1.5em;
}

.cart-list ul {
  list-style-type: none;
  padding: 0;
}

.cart-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total-price {
  margin-top: 10px;
  font-weight: bold;
}

/* Shipping Address */
.shipping-address {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #F5F5F5;
}

.shipping-address h3 {
  margin-bottom: 15px;
  font-size: 1.5em;
}

.shipping-address label {
  display: block;
  margin-bottom: 10px;
}

.shipping-address input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Payment Form */
.payment-form {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
}

.payment-form h3 {
  margin-bottom: 15px;
  font-size: 1.5em;
}

.payment-form label {
  display: block;
  margin-bottom: 10px;
}

.payment-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}


/* Add these styles to your existing CSS file or create a new one */

/* Add these styles to your existing CSS file or create a new one */

/* Add these styles to your existing CSS file or create a new one */

/* Cart List */
.cart-list {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.cart-list h3 {
  margin-bottom: 15px;
  font-size: 1.5em;
  color: #333;
}

.cart-list ul {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.product-image img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
}

.product-details {
  flex-grow: 1;
}

.product-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.label {
  color: #555;
  margin-right: 10px;
  min-width: 80px;
  /* Adjust as needed */
}

.value {
  font-weight: bold;
  color: #333;
}


/* Add these styles to your existing CSS file or create a new one */

/* Payment Form */
.payment-form {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.payment-form h3 {
  margin-bottom: 15px;
  font-size: 1.5em;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

/* Add these styles to your existing CSS file or create a new one */

/* Quantity Control */
.quantity-col {
  /* display: flex; */
  align-items: center !important;
  justify-content: center !important;
  background-color: #FFFFFF !important;
  height: 28px !important;

}

.quantity-btn {
  background-color: #FFF;
  color: #000000;
  /* padding: 10px 20px; */
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}


.quantity {
  margin: 0 10px;
  font-weight: bold;
}

/* Add these styles to your existing CSS file or create a new one */

/* Cart Totals */
.cart-totals {
  /* margin-top: 20px; */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  height: auto;
  background-color: #F5F5F5;
}

.cart-totals h3 {
  margin-bottom: 15px;
  font-size: 1.5em;
  color: #333;
}

.cart-totals-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-totals-item-btn {
  display: flex;
  justify-content: center !important;
  margin-bottom: 10px;
}

.cart-totals-item.total {
  font-weight: bold;
}

.cart-totals-item span {
  color: #555;
}

.cart-totals-item span:last-child {
  color: #333;
}

.ant-steps-item-title:after {
  background-color: #221A42 !important;
}


.front {
  position: relative;
  transform: rotateY(0deg);
  background-color: red;
}

.back {
  position: relative;
  transform: rotateY(180deg);
  background-color: yellow;
}

.rccs__card {
  height: 182.873px;
  margin-top: 10;
  margin-bottom: 10;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  width: 290px;

  /* background: linear-gradient(
     25deg
  , #986, #234); */
}

.front1 {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: red;
}

.back1 {
  transform: rotateY(360deg);
  margin-bottom: 30px !important;
  background-color: yellow;
}

.App-cards-list {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.App-cards-list>* {
  transform: scale(0.8);
  margin-bottom: 30px !important;
}



.back3 {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url(../../../src/constant/images/card.jpeg);
}

/* rccs-signature-background: repeating-linear-gradient(
    0.1deg,
    #fff 20%,
    #fff 40%,
    #fea 40%,
    #fea 44%,
    #fff 44%
  );
  rccs-default-background: linear-gradient(25deg, #d32121, #178a63);
  rccs-unknown-background: linear-gradient(25deg, rgb(160, 18, 101), #999);
  rccs-background-transition: 0.5s;
  rccs-animate-background: true; */

.rccs__card--unknown>div {
  background-image: url(../../../src/constant/images/card.jpeg);
}

/* You may want to add more specific styling based on your design */

.react-multi-carousel-list {
  width: 100%;
  margin: 0px 80px 0px 80px;
}

.event-item {
  border-radius: 0px 0px 50px 50px;
  border: 1px solid #F2E9D4;
  color: #fff;
  /* font-family: 'Satisfy', cursive; */
  font-size: 16px;
  /* font-style: ; */
  font-weight: 400;
  padding: 20px;
  width: 35% !important;
  height: 65px !important;

  background-color: #221A42 !important;
}

.event-tap {
  background-color: #ffffff;
  border-radius: 0px 0px 70px 70px;
  height: 65px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.event-tap p {
  /* font-family: 'Satisfy', cursive; */
  color: #ffffff;
  font-size: 18px;
  /* font-style: ; */
  font-weight: 400;
}

.event-text-color {
  font-family: Poppins !important;
  color: #000 !important;
  font-size: 17px !important;
  padding: 20px;
  font-weight: 500 !important;
}

.text-main-color {
  color: #221A42 !important;

}

.event-details-title {
  color: #2D2C3C !important;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  margin-bottom: 40px;
}

.image-icons {
  width: 60px !important;
  height: 60px !important;
}

.event-des-date p {
  color: #2D2C3C !important;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin-top: 20px;

}

.event-des-date h5 {
  font-size: 22px !important;
  font-weight: 600;


}

.event-des-date img {
  width: 20px !important;
  height: 20px !important;
  text-align: center;
  margin-right: 10px;
}

.font-z {
  font-size: 14px !important;
  font-weight: 400 !important;
  font-family: Poppins !important;

}

.event-des-date button {
  border-radius: 4px;
  border: 1px solid #F2E9D4;
  color: #000000;
  background-color: #FFE047;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 16px */
  text-transform: uppercase;
  padding: 10px 20px;
  margin-right: 30px;
}

.filter-item {
  margin-bottom: 1%;
}

.filter-item {
  cursor: pointer;
}


.ant-dropdown-link {
  border-radius: 6px;


  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 16px */
  text-transform: uppercase;
  padding: 10px 20px;
  margin-right: 30px;
  /* color: #221A42; */
  /* border: 1px solid #221A42; */

}

.filter-item div {
  /* border-radius: 6px;


  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; */
  /* 16px */
  /* text-transform: uppercase;
  padding: 10px 20px;
  margin-right: 30px; */
  /* color: #221A42; */
  /* border: 1px solid #221A42; */

  color: #ffffff;
  background-color: #221A42 !important;
}


.offcanvas-header {
  background-color: transparent !important;
}

.fa-filter {
  color: #221A42 !important;
}

.fa-filter:hover {
  color: white !important;
  margin: 2%;
}


.img-pop:hover {
  box-shadow: 2px 2px 13px lightgrey;
}

.filter-item div:hover {
  /* border-radius: 20px; */
  /* border: 1px solid #F2E9D4; */
  color: #ffffff;
  background-color: #221A42 !important;

}

.shop-all-card {
  width: 80px;
  height: 100px;
  align-items: center;
  text-align: center;
  padding-top: 20px;


}

.rounded-border {
  border-radius: 10px !important;
}

.shop-all-card img {
  width: 40px;
  height: 40px;

  /* margin-top: 50px; */
}

.shop-all-card p {
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}


.body-card-product {
  /* background-color: #221A42 !important; */
  /* padding: 20px !important; */
}

.body-card-product img {
  /* background-color: #221A42 !important; */
  width: 100%;
  height: 175px !important;
  align-self: center;

  object-fit: contain;

}

.person-icon-img {
  border-radius: 50%;
}

.body-card-product p {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  /* 16px */
  /* color: #000 !important; */

}

.price-card {
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;

  /* padding: 10%; */
}

.body-card-product p {
  font-weight: 600 !important;
  text-align: left !important;
}

.pro-price {
  font-size: 500 !important;
}

/* .price-card p {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px !important;
  color: #221A42 !important;
} */

.product-des {}

.product-des p {
  /* margin-top: 10px; */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px !important;
  /* 16px */
  color: #000;
}

.product-des h3 {
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px !important;
  /* 16px */
  color: #000 !important;
}

.sku-tag p {
  font-family: Poppins;
  color: #5F6C72;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.price-amount {
  color: #221A42 !important;
  font-family: Poppins !important;
  font-size: 28px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 100% !important;
}

.offer-per {
  background-color: yellow !important;
  border-radius: 5px !important;
  color: #000 !important;
  text-align: center !important;

}

.buy-now-tag {}

.buy-now-tag {
  height: 35px !important;
  border-radius: 8px !important;
  text-align: center;
  padding: 5px 20px !important;
}

.qty-button {
  /* background-color: #221A42; */
  width: 110px;
  height: 35px;
  border-radius: 7px;
  justify-content: space-between !important;
}

.qty-button button {
  background-color: #FFF !important;
  /* border-color: #33295d !important; */
  width: 35px !important;
  height: 30px !important;


}

.qty-button button:hover {
  background-color: #FFF !important;
  border-color: #33295d !important;
  width: 35px !important;
  height: 30px !important;
}

.nav-tabs .nav-link {
  /* border: none; */
  border: 1px solid #ffffff;


}

.nav-tabs .nav-link .nav-link.active {
  border: none !important;
  /* border: 1px solid #ffffff;
  border-bottom: 1px solid red; */
}

.tab-text {
  color: #000 !important;
  text-transform: uppercase;
  font-family: Poppins !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;



}

.feature-item {}

.feature-item h4 {
  font-family: Poppins;
  color: #000000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin: 4px;
}

.feature-item p {
  font-family: Poppins;
  color: #5F6C72;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  margin: 4px;
}

.feature-item strong {
  color: #000000;
  font-weight: 600 !important;
}

.fw-bolder {
  color: #000000;
  font-size: 38px;
  /* font-style: ; */
  font-weight: 400 !important;
}

.bg-theme-color {
  background-color: #FFE5E5 !important;

}

.find-store {
  font-family: Poppins;
  color: #5F6C72;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  margin-top: 10% !important;
}

.find-store h4 {
  color: #000 !important;
}

.box-card-over {
  background-color: #ffffff;
  border: 1px solid #33295d;
  /* padding: 2%; */
  border-radius: 20px;
  margin: 2%;
  overflow: hidden;
  width: 70%;
}

.box-card {
  background-color: #ffffff;
  border: 2px solid #33295d;
  /* padding: 2%; */
  border-radius: 20px;
  margin: 2%;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-car-row {
  max-width: 100% !important;
}

.text-box-store p {
  font-family: Poppins;
  color: #5F6C72;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  text-align: center;

}

.text-box-store h4 {
  font-family: Poppins;
  color: #000000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.light-background {
  background-color: rgba(217, 217, 217, 0.8);
  padding: 10px 40px 5px 40px;
  border-radius: 0px 0px 10px 0px;
}

.light-background h4 {
  font-family: Poppins;
  color: #000000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.blog-title h4 {
  font-family: Poppins;
  color: #232536;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

.blog-store {
  font-family: Poppins;
  color: #5F6C72;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  /* margin-top: 10% !important; */
}

.blog-store h4 {
  color: #000 !important;
}

.blog-card {
  background-color: #FFE5E5;
  border: 1px solid #C1C1C3;

}

.blog-card img {
  width: 35px;
  height: 35px;

}

.blog-card p {
  font-family: Poppins;
  color: #232536;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;

}

.text-box-blogs {
  text-align: start !important;

}

.instagram-reels-section {
  width: 100%;
  overflow-x: auto;
}

.reels-container {
  display: flex;
  flex-wrap: nowrap;
  /* Prevent reels from wrapping to next line */
  gap: 10px;
  /* Adjust spacing between reels */
}

/* Adjust styling for individual reels if needed */
.reels-container .instagram-media {
  width: 320px;
  /* Adjust reel width */
  height: auto;
}

.news-paper-modal .ant-modal-content {

  background-image: url('../images/Newspaper.png');
  background-size: cover;
  /* Ensure the image covers the entire modal */
}

.news-paper-modal-div {
  margin-top: 80px;
  height: 42%;
}


/* .ant-select-selector {
  border : none !important
} */
/* 
:where(.css-dev-only-do-not-override-1qhpsh8).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid #d9d9d9;
  background: #343054;
}


:where(.css-dev-only-do-not-override-1qhpsh8).ant-select .ant-select-selection-placeholder {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  color: rgb(255 255 255 / 100%);
  pointer-events: none;
  font-weight: bold;
} */

.ht-10 {
  height: 40px !important;

}


.product-card img {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}


.youtube-cont {
  width: 25vw;
}


.owl-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 20%;
}


.owl-prev span {
  font-size: 50px;
  color: white;

}

.owl-next span {
  font-size: 50px;
  color: white;

}

.owl-next:hover {
  background-color: transparent !important;
}

.owl-pre:hover {
  background-color: transparent !important;
}

.owl-next span:hover {
  color: red;
  background-color: transparent !important;
}

.owl-pre span:hover {
  color: red;
  background-color: transparent !important;
}




.waveContainer {
  position: absolute;
  bottom: -16%;
  left: 31px;
  transform: translateY(-50%);
  width: 100%;
  height: 250px;
  overflow: hidden;
  /* background-image: url('../images/path.png'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 15% 0%;
}

.wave {
  position: absolute;
  top: 0;
  left: -50px;
  /* Start from outside the screen */
  font-size: 40px;
  font-weight: 700;
  /* margin-right: 0px 50%; */

  color: red;
  border-radius: 50%;
  animation: waveMove 20s linear infinite;
}


.wave-img {
  background-color: #FFE5E5;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
}

@keyframes waveMove {
  0% {
    left: -50px;
    /* Start from outside the screen */
    top: 70%;
    transform: translateY(-50%);
  }

  10% {
    left: calc(10% - 50px);
    /* Start from outside the screen */
    top: 45%;

  }

  15% {
    left: calc(20% - 50px);
    top: 45%;
  }

  20% {
    left: calc(27.5% - 50px);
    top: 25%;
  }

  25% {
    left: calc(30% - 50px);
    top: 28%;
    transform: translateY(-50%);
  }

  30% {
    top: 38%;
  }

  35% {
    top: 36%;
    transform: translateY(-50%);
  }

  40% {
    left: calc(50% - 50px);
    top: 27%;
  }

  45% {
    left: calc(53% - 50px);
    top: 32%;
  }

  50% {
    top: 55%;
  }

  55% {
    top: 62%;
  }

  60% {
    left: calc(72.5% - 50px);
    top: 52%;
  }


  65% {
    left: calc(75% - 50px);
    top: 50%;
  }

  70% {
    left: calc(80% - 50px);

    top: 72%;
  }

  75% {
    left: calc(85% - 50px);

    top: 58%;
  }

  80% {
    left: calc(90% - 50px);

    top: 62%;
  }

  90% {
    left: calc(95% - 50px);

    top: 90%;
  }

  100% {
    left: calc(100% + 50px);
    /* Move to the right corner of the screen */
    top: 100%;
    transform: translateY(-50%);
  }
}

.wave:nth-child(1) {
  animation-delay: 0.8s;
}

.wave:nth-child(2) {
  animation-delay: 4.6s;
}

.wave:nth-child(3) {
  animation-delay: 8.4s;
}

.wave:nth-child(4) {
  animation-delay: 12.2s;
}

.wave:nth-child(5) {
  animation-delay: 16s;
}

.wave:nth-child(6) {
  animation-delay: 20.8s;
}

.wave:nth-child(7) {
  animation-delay: 24.6s;
}


.waveContainer:hover .wave {
  animation-play-state: paused;
}


.wave-img:hover {
  background-color: #33295D;
}


.font-news {
  font-size: 28px !important;
  font-weight: 500 !important;
  /* font-family: 'Satisfy', cursive; */

}

.font-news-text p {
  font-size: 14px !important;
  font-weight: 500 !important;
  margin-top: 10px;

}

.font-news-text button {
  height: 30px !important;
  width: 100px !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  margin: 10px 10px;
}


.image-container {
  position: relative;
  margin-top: 20px;
}

.image-container-1 {
  position: relative;
  width: 192px !important;
  height: 192px !important;
  display: block;
  margin: auto;
  margin-top: 20px !important;
}

.image-container-1 img {
  width: 142px !important;
  height: 142px !important;
  /* object-fit: cover; */
}

.image-container-1 h4 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
  color: #FFF;
  font-size: 17px;
  background-color: rgba(51, 41, 93, 0.9);
  font-family: Poppins;
  width: 110%;
  /* Adjust the width as needed */
}

.collection-box-1 {
  background: #FCFCFC;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #221A42;
  text-align: center;
  transition: background 0.3s ease, border-radius 0.3s ease, color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10% !important;
  height: 225px;
  width: 250px;
}

.head-abt-sub {
  font-size: 25px;
  text-align: center;
}

.about-img-cont img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;

}

.shop-all-card-item {
  width: auto;
  height: auto;
  align-items: start;
  text-align: start;
  line-height: 20px !important;
  cursor: pointer;

}

.rounded-border {
  border-radius: 10px !important;
}

.shop-all-card-item img {
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;

  /* margin-top: 50px; */
}

.shop-all-card-item p {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 100%;
}


.shop-all-cards {
  width: auto;
  /* height: 50px; */
  text-align: left !important;
  /* padding-top: 20px;
  margin-top: 20px; */
  cursor: pointer;


}


.filter-btns-cont {
  display: flex;
  min-width: 25%;
  min-width: 20%;
  margin-bottom: 10px;
}

.filter-btns-cont button {
  width: 50%;
  height: auto;
  background-color: #f8f8f8 !important;
  /* border: 2px solid #000; */
  border-radius: 5px;
}

.header-all-cards {
  width: auto;
  /* height: 50px; */
  text-align: right !important;
  /* padding-top: 20px;
  margin-top: 20px; */
  cursor: pointer;


}

.header-all-cards img {
  width: auto;
  height: 35px;
  text-align: center;

  /* margin-top: 50px; */
}

.header-all-cards p {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.view-mor-brand {
  color: #ffffff;
  background-color: #221A42 !important;
}

.shop-all-cards {
  cursor: pointer !important;
}

#menu-products {
  cursor: pointer;
}

.pointer {
  cursor: pointer !important;
}

.shop-all-cards img {
  width: auto;
  height: 35px;
  text-align: center;

  /* margin-top: 50px; */
}

.shop-all-cards p {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.full-banner img {
  width: 100%;
  /* height: 150px !important; */
  text-align: center;
  padding: 0px !important;

}

.find-store-image {
  width: auto !important;
  height: 200px !important;
}

.prize-size {
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}

.prod-pric {
  font-size: 15px;
  font-weight: 500;
}

.product-shopby:hover {
  transition: transform 0.9s ease;
  transform: scale(1.5);
  overflow: hidden !important;

}

.product-shopall:hover {
  transform: scale(1.5);
  overflow: hidden !important;

}

.add-to-card-price {
  background-color: #221A42 !important;

}


.brand-list-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.news-latter-bg h3 {
  font-size: 30px !important;
}

.product-card img {
  height: 250px !important;
  object-fit: cover;
  transition: transform 0.3s;
}

.product-card {
  position: relative;
}

.brandimg-cont {
  overflow: hidden;
}

.product-card img:hover {
  transform: scale(1.5);
  overflow: hidden !important;
}

a {
  cursor: pointer;
}

.home-product {
  position: relative;
  overflow-y: hidden !important;
}

.home-product-in {
  overflow: hidden;
}

.shop-online-brand {
  width: 120px;
}


.shopall-menu:hover {
  display: block !important;
}

.product-card {
  position: relative;
  cursor: pointer;
  overflow-y: hidden !important;
}

.home-product .addtocart-btn {
  display: block;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 0.8s ease, opacity 0.5s ease;
  opacity: 0;

  width: 75%;
  padding: 4% 0% !important;

}


.product-card .addtocart-btn {
  display: block;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 0.5s ease, opacity 0.5s ease;
  opacity: 0;

  width: 75%;
  padding: 4% 0% !important;
}


.home-product .home-product-in:hover .addtocart-btn {
  bottom: 35%;
  opacity: 1;
  width: 75%;
  padding: 4% 0% !important;
  background-color: rgba(34, 26, 66, 1) !important;
  transition: bottom 0.6s ease, opacity 1s ease;
}


.product-card .home-product-in:hover .addtocart-btn {
  bottom: 35%;
  opacity: 1;
  width: 75%;
  padding: 4% 0% !important;
  background-color: rgba(34, 26, 66, 1) !important;
  transition: bottom 0.6s ease, opacity 1s ease;
}

/* .home-product:hover{
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
} */

.sns-bg {
  background-image: url('../images/IMG_3302.PNG');
  width: 100%;
  height: auto;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 15% 0%;


}

.sns-mob {
  background-image: url('../images/IMG_3301.PNG');
  width: 100%;
  height: auto;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 15% 0%;

}

.bg-transparent {
  background-color: transparent !important;

}

.sticky-log2 {
  width: 18%;
  margin-top: 3%;
}

.bg-wt {
  background-color: #ffffff !important;
}

.single-months-row {
  background-color: #ffffff !important;

}

.event-image {
  background-image: url("../images/HeartShape.png");
  background-repeat: no-repeat;
  background-size: 68%;
  background-position: center;
  height: 65px;
  font-size: 11px;
  text-align: center;
  width: 70px;
  font-weight: 900;

}


.event-image-day {
  background-image: url("../images/HeartShape.png");
  background-repeat: no-repeat;
  background-size: 68%;
  background-position: center;
  height: 25px;
  font-size: 11px;
  text-align: center;
  width: 70px;
  font-weight: 900;

}



.fa-chevron-right,
.fa-chevron-left {
  cursor: pointer !important;
}



.event-image:hover {
  background-size: 80% !important;
  font-size: 13px !important;

}


.event-image-days {
  background-image: url("../images/HeartShape.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  height: 35px;
  font-size: 13px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 10px;
}

.event-image-days:hover {
  background-size: 80% !important;
  font-size: 13px !important;

}

@media only screen and (max-width:760px) {
  .header-logo {
    width: 100%;
  }

  .filter-btns-cont {
    width: 100% !important;
  }

  .image-container img {
    width: 100px;
    height: 100px;
  }

  .prize-size {
    font-size: 12px;
  }

  /* 
  .image-container{
    margin-top: 0%;
  } */


  .fa-regular .fa-bookmark {
    font-size: 20px !important;
  }

  .image-container h4 {
    font-size: 12px;
  }

}

.productdet {
  width: 30%;
}

.full-banner.brand-img {
  width: 100% !important;
}

/* Initial state of the header: hidden */
.top-headers {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

/* On hover, show the header */
.header-container:hover .top-headers {
  max-height: 450px;
  /* Adjust this value based on your header's content height */
}


.rel-prod {
  height: 250px !important;
}

.trans {
  transition: transform 0.3s !important;

}

.pointer-cur {
  cursor: pointer;

}

.fa-heart.fa-solid.active {
  color: red;
}

.ant-modal-close-icon {
  background-color: white;
  padding: 55%;
  border-radius: 5px;
}

.abt-cont {
  text-align: justify;
  text-align-last: center;
}


@media only screen and (max-width:760px) {

  .collection-box-1 {
    width: 100%;
    height: auto;
    display: flex !important;
    justify-content: center;
  }

  .image-container-1 {
    height: 140px !important;
    width: 100%;
  }

  .image-container-1 img {
    width: 90px !important;
    height: auto !important;
  }

  .image-container-1 h4 {
    font-size: 12px;
    width: 90%;
    display: block;
    margin: auto;
  }

  .shopby-top-icoimg {
    width: 25px;
    height: 25px;
  }

  .shop-by-tab button {
    font-size: 12px;
  }

  .sticky-log2 {
    width: 60%;
    margin-top: 3%;
  }

  .mt-8 {
    margin-top: 75px !important;
  }

  .sub-heading {
    font-size: 16px;
    line-height: 25px;
  }

  .head-abt-sub {
    font-size: 20px;
  }


  #faqs-tab {
    display: flex;
    justify-content: space-between;
  }

  .cat-brand {
    display: flex;
  }

}

.add-to-cart-btn {
  background-color: #ffe5e5 !important;
  color: black !important;
  border: 2px solid black;
}



.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}


.card2 {
  width: 100%;
  display: block;
  margin: auto;
}


.sel-2 .sel-1 {
  width: 100%;
}

.sel-3 {
  width: 100% !important;
}

.two-cont {
  display: flex;
  justify-content: space-between;
}

.dropdown-container select {
  /* width: 100% !important; */
  margin-top: 3%;
}


.card2 {
  /* border: 2px solid black; */
  padding: 3%;
  border-radius: 15px;
}

.find-yer {
  border: none;
  background-color: #221A42;
  border-radius: 5px;
  margin-top: 20px;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  margin: auto;
}

.card2 h2 {
  margin-top: 0;
  font-size: 20px;
}

.dropdown-container {
  margin-top: 20px;
}

.dropdown-container select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 45%;
  background-color: #f9f9f9;
  font-size: 16px;
}

.dropdown-container select:focus {
  border-color: #007bff;
  outline: none;

}

.top-patch {
  background-color: #fee8ea;
  text-align: center;
  padding: 2%;
}

.sm-fnt {
  font-size: 15px;
}

.p-sub-path {
  font-size: 14px;
}


.brand-img-cont {
  display: flex;
  justify-content: center;
}

.icons-img {
  width: 150px !important;
  max-height: 75px;
  display: block;
  margin: auto !important;
}

.brand-innimg-cont {
  width: 200px;
  height: 85px;
  display: flex;
  align-items: center;
}

.brand-img-name {
  font-size: 14px;
  text-transform: capitalize;
  background-color: #221a42;
  color: white;
  padding: 2% 0%;
  text-align: center;

}

.view-more {
  font-size: 15px;
  text-align: center;
  color: #221A42;
  font-weight: 700;
}

#menu-products {
  display: inline;
}

#dropdown-products {
  display: none;
  position: absolute;
  top: 0px;
  left: 0%;
  right: 0%;
  opacity: 0;
  animation: animatetop 0.8s;
}

#menu-products:hover #dropdown-products {
  display: block;
  opacity: 1;
}


.filt-bt {
  width: auto !important;
  background-color: white !important;
  margin: 5px !important;
  position: relative;
  border: 1.5px solid white !important;
}

.x-close {
  position: absolute;
  top: -25%;
  background: white !important;
  right: -5%;
  height: 20px;
  /* color: black !important; */
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 20px;
}

@keyframes animatetop {
  from {
    top: -10px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.size-selector {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
}

.size-label {
  font-weight: bold;
  margin-right: 10px;
}

.size-options {
  display: flex;
}

.size-option {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: white;
}

.size-option.selected {
  border-color: black;
  background-color: #f0f0f0;
}

.size-option:hover {
  border-color: black;
}


.size-speck {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.size-speck td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  font-size: 14px;
  padding: 8px;
}



/* menu toggle mob */

.navigation {
  cursor: pointer !important;
}

#menuToggleone {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  cursor: pointer !important;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggleone a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggleone a:hover {
  color: tomato;
}


#menuToggleone input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggleone span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggleone span:first-child {
  transform-origin: 0% 0%;
}

#menuToggleone span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggleone input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggleone input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggleone input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}


/*
 * Make this absolute positioned
 * at the top left of the screen
 */


#menuone {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menuone li {
  padding: 10px 0;
  font-size: 22px;
}



/*
 * And let's slide it in from the left
 */


#menuToggleone input:checked~ul {
  transform: none;
}



.awards {
  position: absolute;
  left: 0%;
  top: 25%;
  max-width: 420px;
}

.earn:hover {
  background: #221a42;
}

.earn:hover p {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .awards {
    position: absolute;
    left: 5%;
    top: 35%;
    max-width: 100%;
  }

  .product-card img {
    height: 150px !important;
  }

  /* .navbar-toggler-icon{
    width: 20px;
  } */

  .ant-select-selector {
    width: 200px;
  }

  .tab-wid {
    min-width: 650px;
  }

}


/* side nav for brands */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.fa-searchengin {
  font-size: 25px;
}

.mob-search {
  display: none;
}


.search-a:hover .mob-search {
  display: block;
  top: 25%;
  position: absolute;
  right: 10%;
}



.cat-brand {
  font-size: 15px;
  cursor: pointer;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#mySidenav {
  z-index: 200;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }



  .sidenav a {
    font-size: 18px;
  }
}