 .tile-1 .item img {
     width: 100%;
     object-fit: cover;
     /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
     transition: transform 0.3s;
 }


 @media only screen and(min-width:760px) {
    .tile-1 .item img {
        height: 250px !important;
    }
 }

 .product-img-main {
     height: 350px;
     object-fit: cover;
     border: 1px solid grey;
     padding: 2%;
 }



 .react-multi-carousel-list {
     width: 100%;
     margin: 0px;
     margin-top: 2%;
     justify-content: space-between;
     padding: 3% 1%;
 }

 .react-multiple-carousel__arrow {
     background-color: #221A42 !important;
 }

 .react-multi-carousel-track {
     width: 100%;
 }

 .react-multi-carousel-track {
     width: 80%;
 }

 .react-multi-carousel-track li {
     display: block;
     margin: auto;
 }

 .prod-bot-tab {
     border: 1px solid #E4E7E9;
 }

 .nav-tabs {
     border-bottom: 1px solid #E4E7E9 !important;
 }

 .nav-item {
     padding: 2% 0%;
 }

 .nav-tabs .nav-item.show .nav-link,
 .nav-tabs .nav-link.active {
     border: none !important;
     border-bottom: 2px solid blue !important;
 }

 .tab-discription {
     padding: 4%;
 }

 .product-card {
     margin-bottom: 50px;
     border-radius: 1px;

 }

 .price-card {
     border-bottom-left-radius: 0px;
     border-bottom-right-radius: 0px;
 }

 .price-card .font-z {

     margin-bottom: 0% !important;
     border-radius: 20px;

 }


 .box-card-over {

     width: 85%;

 }


 .about-breadcum-content {
     z-index: 300;
 }


 /* cart style */

 .product-name {
     font-size: 14px;
 }


 .nav-pills .nav-link.active,
 .nav-pills .show>.nav-link {
     color: white !important;
     background: #4e3c98;
 }

 .cor-minimg {
     border: 1px solid gray;
 }

 /* SplashScreen.css */

.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 0;
    /* Initial opacity */
    transition: opacity 1s ease-in-out;
    /* Add a fade-in transition effect */
  }
  
  .splash-screen.fade-in {
    opacity: 1;
    /* Make the splash screen visible */
  }
  
  .text-center {
    text-align: center;
  }
  
  .logo-container {
    perspective: 1000px;
    margin-bottom: 10rem; /* Adjusted to relative unit */
    margin-right: 12rem; /* Adjusted to relative unit */
  }
  
  /* Styling for the front image */
  .logo-wid-image-font {
    width: 200px;
    height: auto;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    animation: showFront 2s linear infinite;
  }
  
  /* Styling for the end image */
  .logo-wid-image-end {
    width: 200px;
    height: auto;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    animation: showEnd 2s linear infinite;
  }
  
  
  /* Keyframes for showing the front image and hiding the end image */
  @keyframes showFront {
    0% {
      opacity: 1; /* Fully visible */
      transform: rotateY(0deg);
    }
    100% {
      opacity: 0; /* Fully invisible */
      transform: rotateY(-180deg);
    }
  }
  
  /* Keyframes for showing the end image and hiding the front image */
  @keyframes showEnd {
    0% {
      opacity: 0; /* Fully invisible */
      transform: rotateY(180deg);
    }
    100% {
      opacity: 1; /* Fully visible */
      transform: rotateY(0deg);
    }
  }