 .tile-1 .item img {
     width: 100%;
     object-fit: cover;
     /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
     transition: transform 0.3s;
 }


 @media only screen and(min-width:760px) {
    .tile-1 .item img {
        height: 250px !important;
    }
 }

 .product-img-main {
     height: 350px;
     object-fit: cover;
     padding: 2%;
 }



 .react-multi-carousel-list {
     width: 100%;
     margin: 0px;
     margin-top: 2%;
     justify-content: space-between;
     padding: 3% 1%;
 }

 .react-multiple-carousel__arrow {
     background-color: #221A42 !important;
 }

 .react-multi-carousel-track {
     width: 100%;
 }

 .react-multi-carousel-track {
     width: 80%;
 }

 .react-multi-carousel-track li {
     display: block;
     margin: auto;
 }

 .prod-bot-tab {
     border: 1px solid #E4E7E9;
 }

 .nav-tabs {
     border-bottom: 1px solid #E4E7E9 !important;
 }

 .nav-item {
     padding: 2% 0%;
 }

 .nav-tabs .nav-item.show .nav-link,
 .nav-tabs .nav-link.active {
     border: none !important;
     border-bottom: 2px solid blue !important;
 }

 .tab-discription {
     padding: 4%;
 }

 .product-card {
     margin-bottom: 50px;
     border-radius: 1px;

 }

 .price-card {
     border-bottom-left-radius: 0px;
     border-bottom-right-radius: 0px;
 }

 .price-card .font-z {

     margin-bottom: 0% !important;
     border-radius: 20px;

 }


 .box-card-over {

     width: 85%;

 }


 .about-breadcum-content {
     z-index: 300;
 }


 /* cart style */

 .product-name {
     font-size: 14px;
 }


 .nav-pills .nav-link.active,
 .nav-pills .show>.nav-link {
     color: white !important;
     background: #4e3c98;
 }

 .cor-minimg {
     border: 1px solid gray;
 }

 /* SplashScreen.css */

 .splash-screen {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* Ensures video is behind other elements */
}

.splash-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the whole container */
}

.logo-container {
  position: relative;
  z-index: 1; /* Ensures logo is in front of the video */
}

.logo-wid-image-font,
.logo-wid-image-end {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
}

